body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#controls {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.slider-label {
    flex: 1;
    font-size: 16px;
    margin-right: 10px;
}

.slider-value {
    font-weight: bold;
}

.slider {
    flex: 3;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Adjust the flex direction to wrap */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin to separate the buttons */
}

button:hover {
    background-color: #0056b3;
}

#chart-container {
    width: 65%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chart {
    width: 100%;
    height: 300px;
}

#video-container {
    margin-top: 20px;
}

#video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
